.container {
	width: 940px;

}
#header {
	position: relative;
	/*margin-top:20px;*/
	/*padding: 20px 0;*/
	width: 1400px;
}
.nav {
	list-style: none;
	float: right;
	margin-right: 230px;
	/*margin-top:20px;*/
	
}
.nav li {
	display: inline-block;
	margin-right: 40px;

}
.nav a {
	font: 14px Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;

}
.nav a:hover {
	color: #fed136;

}
.logo {
	float: left;
	margin-left: 228px;

}
#home {
	padding-top: 270px;
	text-align: center;
	height: 700px;
	width: 1400px;
	background: url(../img/first-bg.png) no-repeat center bottom;
	-webkit- background-size: cover;
	-moz- background-size: cover;
	-o- background-size: cover;
	background-size: cover;
}
#home h3 {
	font: 40px/40px Arial, sans-serif;
	color: #ffffff;
	margin-bottom: 40px;
}
#home h1 {
	font: 75px/75px Arial , sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 50px;
}
#home button {
	background: #fed136;
	text-align: center;
	padding: 20px 45px;
	text-transform: uppercase;
	color: #484543;
	border-radius: 4px;
	font: 18px/18px bold Arial, sans-serif;
	cursor: pointer;
}
#home button:hover {
	background: #cca41a;
}



/*    */

#services {
	text-align: center;

}
h2.title {
	margin-bottom: 10px;
	margin-top: 113px;
	font: bold 40px, Arial, sans-serif;
	text-transform: uppercase;
	color: #222222;
	
}
p.description {
	margin-bottom: 10px;
	font: bold 16px, Arial, sans-serif;
	color: #777777;
}

.services-wrap {
	width: 940px;
	margin-top: 80px;
}

h5.title{
	margin-bottom: 10px;
	font: bold 20px/20px, Arial, sans-serif;
	font-size: 20px;
	color: #222222;

}
.item_benefit {
	float: left;
	padding: 10 px;
	width: 33.33%;
}

.item_benefit p {
	font-size: 14px;
	color: #777777;
	line-height: 24px;

}

/*   */

#portfolio {
	margin-bottom: 235px;
	text-align: center;
	background: #f7f7f7;
}

h2.title_2 {
	margin-bottom: 10px;
	margin-top: 240px;
	font: bold 40px, Arial, sans-serif;
	text-transform: uppercase;
	color: #222222
}

p.description_2 {
	margin-bottom: 10px;
	font: bold 16px, Arial, sans-serif;
	color: #777777;
}

.portfolio-wrap {
	margin-top: 80px;
}
span {
	font-size: 14px;
	color: #777777;
	line-height: 24px;

}
.item_benefit_images {
	float: left;
	padding: 10 px;
	width: 33.33%;
}

.item_benefit h5:hover {
	color: #fed136;
	}

/*    */

#About_Us{
	text-align: center;
	background: #f7f7f7;
}


.about_text {
	float: left;
	text-align: right;
	
}
.last_picture {
	
	text-align: center;
	margin-right: 50px;

}
     